<div class="container text-white d-flex justify-content-center align-items-center flex-column mt-5 background-login" style="height: calc(90vh - 110px)">
  <div class="w-50 d-flex flex-column justify-content-center">
    <a routerLink="" class="text-center text-white py-2 text-muted" style="text-decoration: none">Volver a la pagina principal</a>
    <h2 class="text-center text-uppercase">REGISTRO</h2>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" />
        <app-form-error-container [forControl]="emailControl">
          <app-form-error-msg forErrorCode="required"></app-form-error-msg>
          <app-form-error-msg forErrorCode="email"></app-form-error-msg>
        </app-form-error-container>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="exampleFormControlInput2" formControlName="password" />
        <app-form-error-container [forControl]="passwordControl">
          <app-form-error-msg forErrorCode="required"></app-form-error-msg>
        </app-form-error-container>
      </div>
    </form>
    <div class="d-flex flex-column justify-content-center my-4">
      <button type="submit" class="btn btn-primary mb-3" (click)="register()" [disabled]="loginForm.invalid">REGISTRARSE</button>
      <p class="text-center text-white py-2 text-muted">Ya tienes una cuenta? <a routerLink="/login" style="text-decoration: none">Inicia sesión.</a></p>
    </div>
  </div>
</div>
