<nav class="navbar nav-bar">
  <div
    [className]="
      currentRoute ? 'imageCenter container' : 'container'
    ">
    <img src="./assets/img/arg-programa.png" class="img-arg" />
    <div
      class="d-flex justify-content-end align-items-center box-actions" *ngIf="!currentRoute">
      <div class="d-flex align-items-center justify-content-end">
        <button (click)="addSocialLink(true)" class="btn bg-secondary rounded-circle border border-0">
          <i class="fa-solid fa-globe text-white" ></i>
        </button>
        <button
          type="button"
          class="btn btn-white rounded-circle border border-0"
          (click)="showModalEditData(true)">
          <i
            [className]="
              iconsList &&
              'bg-white px-2 py-2 fs-6 rounded-circle text-dark ' +
                iconsList[3].class
            "></i>
        </button>
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="btn btn-danger border border-0 text-uppercase"
          >Iniciar Sesión</a
        >
      </div>
    </div>
  </div>
</nav>

<app-dialog
  *ngIf="toggleMProfileEdit"
  (closeModalEvent)="closeModal($event, 'profile')"
  [title]="titleModal">
  <div class="contentModal">
    <div class="background-container-userEdit">
      <h5>Datos del usuario </h5>
      <form>
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Cambiar imagen de perfil</label
          >
          <input class="form-control" type="file" id="formFile" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1" />
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
    </div>
    <hr />
    <form>
      <small
        >Estos datos aparecerán en el inicio al lado de la imagen de
        perfil</small
      >
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
  </div>
</app-dialog>

<app-dialog
  *ngIf="toggleMSocialAdd"
  (closeModalEvent)="closeModal($event, 'social')"
  [title]="titleModalRedes">
  <div class="contentModal">
    <div>
      <div>
        <ul>
          <li>Github: <a href="github.com/">Enlace</a></li>
          <li>Linkedin: <a href="linkedin.com/">Enlace</a></li>
        </ul>
      </div>
      <hr>
      <div>
        <h4>Añadir un nuevo enlace</h4>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre de la plataforma:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Enlace:</label>
          <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</app-dialog>
